.block {
    width: 800px;
    height: 500px;
    border-radius: 3px;
    margin-top: 50px;
    padding: 15px;
}

.button_color{
    float: right;

}
.list{
    margin-bottom: 30px;
}

.block_form{
    float: left;
    height: 30px;
    width: 300px;
    border: 1px solid #000;
}
.form_input{
    float: left;
    outline: none;
    height: 20px;
    width: 274px;
    border: none;
    vertical-align: middle;
}

.button_color .red{
    margin: 1px;
    height: 20px;
    width: 20px;
    background-color: red;
}

.pink{
    margin: 1px;
    height: 20px;
    width: 20px;
    background-color: pink;
}

.blue{
    margin: 1px;
    height: 20px;
    width: 20px;
    background-color: blue;
}

.green{
    margin: 1px;
    height: 20px;
    width: 20px;
    background-color: green;
}

.yellow{
    margin: 1px;
    height: 20px;
    width: 20px;
    background-color: yellow;
}

.lightblue{
    margin: 1px;
    height: 20px;
    width: 20px;
    background-color: lightblue;
}

.button_add{
    text-align: center;
    margin: 1px;
    height: 40px;
    width: 40px;
    background-color: lightgreen;
}